@model ECommerceProject.Models.i.indexModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    @foreach (var item in Model.Products)
    {
        @Html.Partial("ProductItem", item);
    }
   
</div>
