@model ECommerceProject.Models.i.indexModel
@{
    ViewBag.Title = "Index";
    List<ECommerceProject.DB.Categories> categories = new List<ECommerceProject.DB.Categories>();
    if (Model.Category!=null)
    {
        categories.Add(Model.Category);
        var parencat = Model.Category.Categories2;
        while (parencat!=null)
        {
            categories.Add(Model.Category);
            parencat = Model.Category.Categories2;
        }
    }
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("index","i")">Ana Sayfa</a></li>
          @foreach (var cat in categories)
          {
              <li><a href="@Url.Action("index","i",new { id = cat.Id })">@cat.Name</a></li>
          }
        </ol>
    </div>
</div>
<div class="row">

    @foreach (var item in Model.Products)
    {
        @Html.Partial("ProductItem", item);
    }

</div>
